services:
  db:
    image: postgres:16-alpine
    container_name: inventory-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydb"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      args:
        DATABASE_URL: postgresql://postgres:postgres@db:5432/mydb?schema=public
    container_name: inventory-backend
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      NODE_ENV: production
      PORT: 3000
      DATABASE_URL: postgresql://postgres:postgres@db:5432/mydb?schema=public
      AUTH_AUDIENCE: https://inventory-system-api.com
      AUTH_ISSUER_BASE_URL: https://dev-dmb2cn465p1zlfkr.us.auth0.com
      ALLOWED_ORIGINS: http://localhost:5173
    ports:
      - "3000:3000"
    command: sh -c "npx prisma migrate deploy && npm start"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:3000
        VITE_AUTH0_AUDIENCE: https://inventory-system-api.com
        VITE_AUTH0_DOMAIN: dev-dmb2cn465p1zlfkr.us.auth0.com
        VITE_AUTH0_CLIENT_ID: njC3UWMPH8dqmitM00i3wvKIpF55bHqi
        VITE_AUTH0_BACKEND_API_IDENTIFIER: https://inventory-system-api.com
        VITE_AUTH0_SCOPE: openid profile email offline_access
    container_name: inventory-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  postgres_data:
